<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.mybatis.persistence.ShopMapper">
    <sql id="selectSql">
        SELECT SHOP_NO
             , SHOP_NAME
             , SHOP_LOCATION
             , SHOP_STATUS
        FROM SHOP
    </sql>

    <select id="select" parameterType="Shop" resultType="Shop">
        <include refid="selectSql"/>
        <where>
            <if test="shopNo > 0">
                AND SHOP_NO = #{shopNo}
            </if>
        </where>
    </select>

    <insert id="insert" parameterType="Shop">
        INSERT INTO SHOP (SHOP_NO, SHOP_NAME, SHOP_LOCATION, SHOP_STATUS)
        VALUES (#{shopNo}, #{shopName}, #{shopLocation}, #{shopStatus})
    </insert>

    <select id="selectByShopNo" parameterType="Shop" resultType="Shop">
        SELECT SHOP_NO
             , SHOP_NAME
             , SHOP_LOCATION
             , SHOP_STATUS
        FROM SHOP
        WHERE SHOP_NO = #{shopNo}
    </select>

    <update id="update" parameterType="Shop">
        UPDATE SHOP
        SET SHOP_STATUS = #{shopStatus}
        WHERE SHOP_NO = #{shopNo}
    </update>

    <delete id="delete" parameterType="Shop">
        DELETE SHOP
        WHERE SHOP_NO = #{shopNo}
    </delete>

    <select id="selectByNo" parameterType="Shop" resultType="Shop">
        <include refid="selectSql"></include>
        <trim prefix="WHERE" prefixOverrides="AND | OR">
            <if test="shopNo > 1">
                AND SHOP_NO = #{shopNo}
            </if>
            <if test='shopStatus != null and "N".equals(shopStatus)'>
                OR SHOP_STATUS = #{shopStatus}
            </if>
        </trim>
    </select>
</mapper>